/vendor/
/composer.lock

*.log
*.cache
*.tmp
/tmp
/cache
/storage/*.key
/storage/logs/*
/storage/framework/*
/storage/debugbar/*

.env
.env.*.local
.phpunit.result.cache

/.idea/
/.vscode/
/nbproject/
/*.sublime-project
/*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

/phpunit.xml
/phpunit.xml.dist
/.phpunit.result.cache
/coverage/

/node_modules/
/npm-debug.log
/yarn.lock
/pnpm-lock.yaml

/.php-cs-fixer.cache
/.phpstan/cache
/.php-cs-fixer.cache
/.phpstorm.meta.php/

/public/storage
/database/*.sqlite
/database/*.sqlite3
/database/database.sqlite
/database/database.sqlite3
/bootstrap/cache/*
/.env.backup

/var/
/config/secrets/prod/prod.decrypt.private.php

/logs/*
/tmp/*
/config/app_local.php

/.docker/
/docker-compose.override.yml
Homestead.yaml
Homestead.json
